tr.odd {
  background: var(--table-odd-row-color);
}

.section .rank {
  vertical-align: top;
  padding-right: 0px;
}

.section .name {
  vertical-align: top;
  border-right: 1px solid var(--grey-300);
}

.indent .name {
  padding-left: 32px;
}

.section td {
  white-space: nowrap;
}

.section td.data:last-child {
  padding-right: 46px;
}
