# Copyright (c) 2021 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Copy this file to chops-weetbix-dev.cfg and edit it as needed for running
# the local development instance.  See the README in the parent directory
# for more details.

# For the schema of this file, see ProjectConfig message:
# https://luci-config.appspot.com/schemas/projects:chops-weetbix.cfg

monorail {
  project: "chromium"
  default_field_values {
    field_id: 10
    value: "Bug"
  }
  priority_field_id: 11
}
