.container {
  margin-left: 50px;
  max-width: 70vw;
  width: 100%;
  font-family: 'Poppins', serif;
}

.yellowBox {
  height: 10vh;
  border-style: solid;
  border-color: #ea8600;
  border-radius: 8px;
  background: #fef7e0;
}

.poppins {
  font-family: 'Poppins', serif;
}

.feedback {
  text-align: right;
  padding-top: 1.5em;
  color: #888;
}
