[run]
include = ./appengine/cr-buildbucket/*

# See the comment in bq_test.py
omit =
    ./appengine/cr-buildbucket/bq.py
    ./appengine/cr-buildbucket/test/bq_test.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == ['"]__main__['"]:

[expect_tests]
expected_coverage_min = 100
