<!DOCTYPE html>

<head>
  <title>Weetbix</title>
  <link href="/static/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <script>
    window.monorailHostname = '{{.MonorailHostname}}';
    window.email = '{{.User}}';
    window.logoutUrl = '{{.LogoutURL}}';
  </script>
</head>

<body>
  <div id="app-root"></div>
  <div id="modal-root"></div>
  <script src="/static/main.js"></script>
</body>