# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Copy this file to config.cfg and edit it as needed for running the
# local development instance.  See the Makefile for the AppEngine
# project.

readers {
  luci_group: "chromeos-inventory-readonly-access"
}

status_writers {
  luci_group: "chromeos-inventory-status-label-write-access"
}

setup_writers {
  luci_group: "chromeos-inventory-setup-label-write-access",
}

privileged_writers {
  luci_group: "chromeos-inventory-privileged-access"
}

admin_service {
  host: "chromeos-skylab-bot-fleet"
}
