# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Copy this file to config.cfg and edit it as needed for running the
# local development instance.  See the Makefile for the AppEngine
# project.

access_group: ""
admin_service {
  host: "chromeos-skylab-bot-fleet"
}
