# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

access_groups {
    key: "chrome.configuration.create"
    value: {
        group: "mdb/chrome-labs"
        group: "mdb/chromeos-infra-eng-team"
    }
    key: "chrome.configuration.get"
    value: {
        group: "mdb/chrome-labs"
        group: "mdb/chromeos-infra-eng-team"
    }
}

chrome_config_repo {
  host: "chrome-internal.googlesource.com"
  project: "infradata/config"
  branch: "master"
  platform_path: "configs/machine-db/platforms.cfg"
}