# Schema for this config file: ProjectConfig in
# luci-config.appspot.com/schemas/projects:tricium-dev.cfg

acls {
  role: REQUESTER
  group: "tricium-infra-requesters"
}

functions {
  type: ANALYZER
  name: "InfraAnalysis"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  owner: "qyearsley@chromium.org"
  monorail_component: "Infra>Platform>Tricium>Analyzer"
  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX
    recipe {
      project: "infra"
      bucket: "try"
      builder: "infra-analysis"
    }
    deadline: 900
  }
}

selections {
  function: "InfraAnalysis"
  platform: LINUX
}

repos {
    gerrit_project {
    host: "chromium-review.googlesource.com"
    project: "infra/infra"
    git_url: "https://chromium.googlesource.com/infra/infra"
  }
}

service_account: "tricium-dev@appspot.gserviceaccount.com"
swarming_service_account: "swarming@tricium-dev.iam.gserviceaccount.com"
