<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Findit</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/ui/elements/cats-app.html">
  <script>
  function decodeTestName(testName) {
    // Example: DetailsPanel_FileManagerDetailsPanelBrowserTest.Test_1 should be
    // DetailsPanel/FileManagerDetailsPanelBrowserTest.Test/1 instead.
    var encodedTestNameRegex = /^[^\.\_]+\_[^\.]+\.[^\.]+\_\d+$/;
    if (testName.match(encodedTestNameRegex))
      testName = testName.replace(/\_/g, '/');
    return testName;
  }

  $(function() {
    document.getElementById('app').userInfo = {{ (user_info or {}) | tojson | safe }};

    $('#test-name').on('change paste', function() {
      var testName = $('#test-name').val().trim();
      if (!testName) {
        $('#crbug-link').attr('href', 'https://crbug.com');
        $('#test-name-warning').hide();
        return;
      }
      var decodedTestName = decodeTestName(testName);
      if (decodedTestName != testName) {  // Warn about encoded test name.
        $('#decoded-test-name').text(decodedTestName);
        $('#test-name').focus();
        $('#test-name-warning').show();
      } else {
        $('#test-name-warning').hide();
      }
      $('#crbug-link').attr('href', 'https://crbug.com?q=' + encodeURIComponent(testName));
    });
  });
  </script>
</head>
<body>
  <cats-app id="app" login-required="true" components="Tools>Test>FindIt" page-header="Findit: Trigger an analysis for a compile/test/flake failure">
    <div style="width:900px; margin:auto;">
      <br>
      <br>
      <br>
      <div><span style="color:RED"><b>Findit currently only supports compile failure analysis via automatic triggering. Manual triggering is not supported.</b></span></div>
      <br>
      <br>
      <div>
        <div><span style="color:GREEN"><b>Flaky test</b> (Gtest, Layout tests, or Android Instrument)</span>: (<a href="/p/chromium/flake-portal/analysis">previous analyses</a>)</div>
      </div>
      <br>
      <br>
      <div>
        <div><span style="color:GREEN"><b>Compile/test</b> failures on CI Waterfall:</span> (<a href="/waterfall/list-failures">previous analyses</a>)</div>
      </div>
    </div>
  </cats-app>
</body>
